{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static "css/adminAuth/style.css" %}">
</head>
<body>

    <div class="auth-container">
        <div class="card-header">
            <h2>Reset Password</h2>
            <p>Create a new password</p>
        </div>

        <div class="card-body">
            <form action="#" method="POST">
                
                <div class="form-group">
                    <label for="new-password">New Password</label>
                    <div class="input-wrapper">
                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" id="new-password" name="new-password" placeholder="Enter new password" required>
                        <span class="icon icon-toggle"><i class="fa-solid fa-eye"></i></span>
                    </div>
                </div>
                <p class="password-hint">Password must be at least 8 characters long</p>


                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <div class="input-wrapper">
                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm new password" required>
                        <span class="icon icon-toggle"><i class="fa-solid fa-eye"></i></span>
                    </div>
                </div>

                <button type="submit" class="btn mt-2">Reset Password</button>
            </form>
        </div>
    </div>

</body>
</html>