{% extends 'adminbase.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
{% endblock extra_css %}


{% block content %}
    
    <div class="page-header-container">
        <div class="page-header">
            <h1>User Management</h1>
        </div>
    </div>

    <div class="card users-table-card">
        
        <div class="table-toolbar">
            <div class="search-bar">
                <i class="fa-solid fa-search"></i>
                <input type="text" placeholder="Search users...">
            </div>
            <div class="filters">
                <select class="filter-dropdown">
                    <option value="">All Roles</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                    <option value="manager">Manager</option>
                </select>
                <select class="filter-dropdown">
                    <option value="">All Status</option>
                    <option value="active">Active</option>
                    <option value="blocked">Blocked</option>
                </select>
            </div>
        </div>

        <table class="data-table">
            <thead>
                <tr>
                    <th>user ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Staff</th>
                    <th>Status</th>
                    <th>Last Login</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in Users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.is_staff}}</td>
                    <td>
                        {% if user.is_active %}
                            <span class="status-badge status-active">Not Blocked</span>
                        {% else %}
                            <span class="status-badge status-blocked">Blocked</span>
                        {% endif %}
                    </td>
                    <td>{{user.last_login}}</td>
                    <td class="action-buttons">
                        <a href="{% url "admin_user_block" user.id %}" class="btn-action btn-block" title="Block"><i class="fa-solid fa-ban"></i></a>
                    </td>
                    
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock content %}