{% extends "./profile_base.html" %}
{% load static %}
{% block profile_extra_style %}
    <link rel="stylesheet" href="css/userprofile/profile.css">
{% endblock profile_extra_style %}

{% block profile_content %}
       <div class="profile-card">
            <div class="profile-card-header">
                <h2>Personal Information</h2>
                <a href="#" class="edit-link">
                    <i class='bx bx-edit'></i> Edit
                </a>
            </div>
            <div class="profile-card-body">
                <dl>
                    <div>
                        <dt>Full Name</dt>
                        <dd>{{ user.first_name }} {{ user.last_name }}</dd>
                    </div>
                    <div>
                        <dt>Email Address</dt>
                        <dd>{{ user.email }}</dd>
                    </div>
                    <div>
                        <dt>Phone Number</dt>
                        <dd>{% if user.phone %}+91 {{ user.phone }}{% else %}Not provided{% endif %}</dd>
                    </div>
                    <div>
                        <dt>Member Since</dt>
                        <dd>{{ user.created_at|date:"F d, Y" }}</dd>
                    </div>
                </dl>
            </div>
        </div>
{% endblock profile_content %} 